<head th:fragment="head">
    <title>Vision Plus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilosDash.css}"/>
</head>

<nav class="estilos navbar navbar-expand-lg " th:fragment="cabecera" style="position: sticky">
    <div class="container-fluid">
        <button class="navbar-brand"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft" style="border: none; background: none">
            <div class="d-flex justify-content-center align-items-center">
                <img th:src="@{/img/logoVision.png}" alt="logo.png" style="height: 50px"/>
                <span class="titulo fw-bold fst-italic fs-5">Vision Plus</span>
            </div>  
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">  
            </ul>
            <div class="nabvar-nav navbar"> 
                <span class="nav-item text-white fw-semibold fst-italic">
                    <a class="titulo nav-link" th:href="@{/cerrarSesion}" style="color:#3e596d; padding-right: 10px" >Cerrar Sesión</a>
                </span>
            </div>
        </div>
    </div>
</nav>


<div th:fragment="menuLateral" class=" text-white">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLeftLabel">Menú Lateral</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body ">
        <ul class="list-group ">
            <li class="list-group-item mb-2">
                <div class="dropend">
                    <a class="botones btn btn-outline-primary" th:href="@{/adminUsuarios}" role="button" data-bs-container="body" aria-expanded="false">                        
                        Usuarios
                    </a>                    
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="dropend ">
                    <a class="botones btn" th:href="@{/adminCitas}" aria-expanded="false">
                        Citas
                    </a>                    
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="dropend ">
                    <a class=" botones btn" th:href="@{/adminHistoriales}" aria-expanded="false">
                        Historiales
                    </a>                    
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="dropend ">
                    <a class="botones btn" th:href="@{/adminProducto}" aria-expanded="false">
                        Productos
                    </a>                    
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="dropend ">
                    <a class="botones btn" th:href="@{/admiNotificaciones}" aria-expanded="false">
                        Notificaciones
                    </a>                    
                </div>
            </li>
        </ul>
    </div>

    <!--<ul class="nav d-flex flex-column ps-md-4 pt-4">
        <li class="nav-item mb-2">
            <div class="dropend">
                <a class=" botones btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminUsuarios}">Administrar Usuarios</a></li>
                    <li><a class="dropdown-item" th:href="@{/addUsuarios}">Agregar Usuarios</a></li>                    
                </ul>
            </div>
        </li>
        <li class="nav-item mb-2">
            <div class="dropend ">
                <a class="botones btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Citas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminCitas}">Administrar Citas</a></li>
                    <li><a class="dropdown-item" th:href="@{/addCitas}">Agregar Citas</a></li>                    
                </ul>
            </div>
        </li>
        <li class="nav-item mb-2">
            <div class="dropend ">
                <a class=" botones btn   dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Historiales
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminHistoriales}">Administrar Historiales</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item mb-2">
            <div class="dropend ">
                <a class="botones btn   dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminProducto}">Administrar Productos</a></li>
                    <li><a class="dropdown-item" th:href="@{/addProducto}">Agregar Productos</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item mb-2">
            <div class="dropend ">
                <a class="botones btn   dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Notificaciones
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminNotificaciones}">Administrar Notificaciones</a></li>
                </ul>
            </div>
        </li>
    </ul>-->
</div>


<footer th:fragment="footer" class="blog-footer bg-black">
    <p class="fst-italic fs-4">Proyecto de clase Clothes Shop</p>
    <p class="fst-italic fs-5">Tienda de venta de accesorios</p>
    <p class="fst-italic fs-6">Copyright © 2024 equipo desarrollo Ingenieria de software</p>

    <script th:src="@{https://unpkg.com/@popperjs/core@2/dist/umd/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
