<head th:fragment="head">
    <title>Clothes Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
</head>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark" th:fragment="cabecera">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <div class="d-flex justify-content-center align-items-center">
                <img th:src="@{/img/logo.png}" alt="logo.png" style="height: 50px"/>
                <span class="fw-bold fst-italic fs-5">Clothes Shop</span>
            </div>  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutMe}">Acerca de</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Marcas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/listBrand}">Listar</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminBrand}">Administrar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/addBrand}">Registrar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tallas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/listBrandTalla}">Listar</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminBrandTalla}">Administrar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/addBrandTalla}">Registrar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Camisas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/shirts}">Listar</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminShirts}">Administrar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/addShirts}">Registrar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tenis
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tenis}">Listar</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminTenis}">Administrar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/addTenis}">Registrar</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nabvar-nav navbar"> 
                <span class="nav-item text-white fw-semibold fst-italic">
                    <a class="nav-link" th:href="@{/signin}">Inicio de Sesion</a>
                </span>
            </div>
        </div>
    </div>
</nav>


<footer th:fragment="footer" class="blog-footer bg-black">
    <p class="fst-italic fs-4">Proyecto de clase Clothes Shop</p>
    <p class="fst-italic fs-5">Tienda de venta de accesorios</p>
    <p class="fst-italic fs-6">Copyright © 2024 equipo desarrollo Ingenieria de software</p>

    <script th:src="@{https://unpkg.com/@popperjs/core@2/dist/umd/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
