<head th:fragment="head">
    <title>Vision Plus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to left, #d0ebff 45%, #ffffff 53%)" th:fragment="cabecera">
  <!-- Contenido del navbar -->

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <div class="d-flex justify-content-center align-items-center">
                <img th:src="@{/img/logoVision.png}" alt="logoVision.png" style="height: 40px"/>
                <span  style="color:#916ea7; font-size: 25px; " class="fw-bold ">Vision Plus</span>
            </div>  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
                <li class="nav-item">
                    <a style="color:#0e6379; font-size: 20px; font-weight: bold" class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a style="color:#0e6379; font-size: 20px; font-weight: bold" class="nav-link" th:href="@{/contact}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a style="color:#0e6379; font-size: 20px; font-weight: bold" class="nav-link" th:href="@{/aboutMe}">Acerca de</a>
                </li>
                
                
            </ul>
            <div class="nabvar-nav navbar"> 
                <span class="nav-item text-white fw-semibold fst-italic">
                    <a style="color:#0e6379; font-size: 20px; font-weight: bold"class="nav-link" th:href="@{/signin}">Inicio de Sesion</a>
                </span>
            </div>
        </div>
    </div>
</nav>


<footer th:fragment="footer" class="blog-footer" style="background: #d0e7f8">
    <p class="fst-italic fs-4">Centro Oftamologico Vision Plus</p>
    <p class="fst-italic fs-5">Somos un centro especializado en la salud y bienestar de sus ojos</p>
    <p class="fst-italic fs-6">Copyright © 2024 equipo desarrollo Ingenieria de software</p>

    <script th:src="@{https://unpkg.com/@popperjs/core@2/dist/umd/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
