<head th:fragment="head">
    <title>Vision Plus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilosDash.css}"/>
</head>

<nav class="estilos navbar navbar-expand-lg " th:fragment="cabecera">
    <div class="container-fluid" >
        <button class="navbar-brand"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" style="border: none; background: none">
            <div class="d-flex justify-content-center align-items-center">
                <img th:src="@{/img/logoVision.png}" alt="logo.png" style="height: 50px"/>
                <span class="titulo fw-bold fst-italic fs-5">Vision Plus</span>
            </div>  
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">  
            </ul>
            <div class="nabvar-nav navbar"> 
                <span class="nav-item text-white fw-semibold fst-italic">
                    <a class="titulo nav-link" th:href="@{/cerrarSesion}" style="color:#3e596d" >Cerrar Sesion</a>
                </span>
            </div>
        </div>
    </div>
</nav>


<div style="min-height: 120px;" th:fragment="menuLateral" class="bg-dark text-white h-100 w-25 collapse collapse-horizontal"  id="collapseWidthExample" >
    <ul class="nav flex-column">
        <li class="nav-item">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/adminUsuarios}">Administrar Usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Agregar Usuarios</a></li>                    
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>


<footer th:fragment="footer" class="blog-footer bg-black">
    <p class="fst-italic fs-4">Proyecto de clase Clothes Shop</p>
    <p class="fst-italic fs-5">Tienda de venta de accesorios</p>
    <p class="fst-italic fs-6">Copyright © 2024 equipo desarrollo Ingenieria de software</p>

    <script th:src="@{https://unpkg.com/@popperjs/core@2/dist/umd/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
