.blog-footer{
    padding: 2.5rem;
    color: #cccccc;
    text-align: center;
    border-top: 5px solid black;
}

section{
    height: 35rem;
}

.fondo-bienvenida{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 40%, rgba(255,159,0,1) 92%);
}

.fondo-bienvenidaC{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 40%, rgba(0,255,176,1) 92%);
}
