.estilos{
    background: white;
    border-bottom:3px solid #6889a2;
}
.titulo{
    color:#72468d;
    font-size: 20px;
}

.menuLateral{
    background: #bfd9ec;
}
.botones{
    background: white;
    width: 90%;
        
}
.botones:hover{
    background: #6889a2;
    color: white;
    font-weight: bold;
}