.inicio{
    background: linear-gradient(to right, #d0ebff 50%, #ffffff 50%);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.imagenes{
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Imagen base */
.imagen-fondo {
    max-width: 100%;
    height: auto;
    transition: transform 0.6s ease;
}
.imagen-fondo:hover{
    transform: scale(1.1);
}
/* Imagen superpuesta */
.imagen-superior {
    position: absolute;
    top: 180px; /* Ajusta la posición vertical */
    left: 42%; /* Ajusta la posición horizontal */
    display: flex;
    max-width: 100%;
    height: auto

}
.imagenes{
    font-weight: bold;
    font-size: 15px;
    color: rgb(80, 80, 82) ;
    border-color: blue ;
}
h1{
    font-weight: bold;
    font-size: 30px;
    border-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
}
h3{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(80, 80, 82) ;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titulo{
    position: absolute;

}
.boton{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px
}
.btn-with-image {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    background: none;
}

.btn-icon {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 50px;
    display: flex;
    justify-content: center;
    align-content:  center;
}
.photo .descripcion{
    border-top:2px solid #b8a1d0 ;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
}

.photo .imagenesprod{
    height: 150px;
    width: 180px;
}


.texto{
    position: absolute;
    top: 600px; 
    color: black;
    font-size: 30px;
}

.eye{
    width: 100%;
}

.product-card {
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #194264;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px 20px #d7bde2;
}

.product-img {
    width: 60%;
    height: 60%;
    transition: transform 0.6s ease;

}
.product-img:hover{
    transform: scale(2.0);

}
.product-name {
    margin-top: -30px;
    font-size: 1.2rem;
    border-radius: 40px;
    background: #eef4f9;
    padding: 10px;
}
.descrip{
    top: 20px;
    height: 100px;
}
        
                
.btnIndex{
    padding: 0px;
    border-radius: 30px;
    color: grey;
    font-weight: bold;
}

.opacidad{
    opacity: 0;
    transition: 0.7s;
    position: absolute;
    top: 16%;
    left: 43.7%;
}

.opacidad:hover{
    opacity: 1;
}