<html>
    <head th:replace="/contenedor/tablero :: head"> </head>
    <body>
        <nav th:replace="/contenedor/tablero :: cabecera"></nav>        
        <div class="d-flex justify-content-center mt-4 mb-4">
            <div class="container">
                <div class="row fondoImg" style="padding-top: 10px">
                    <div class="col-12">
                        <h1 style="font-size: 75px; text-shadow: 4px 3px 6px #72468d;" class="mt-4">Nosotros</h1>
                    </div>
                    <div class="col-12">
                        <h3>Vision Plus</h3>
                    </div>
                    <div class="col-12">
                        <h4 class="fw-semibold fst-italic text-center"><img th:src="@{/img/gafascontacto.png}" width="150" class="img-fluid w-75 imagenGafas"></h4>
                    </div>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center align-content-center w-100">
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12 mb-3 mt-3">
                                            <img th:src="@{/img/insignia.png}" width="100px">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h4>Mision</h4>
                                        </div>
                                        <div class="col-12 mb-3" style="text-align: justify">
                                            Transformar la experiencia del cuidado visual mediante servicios personalizados y tecnología de vanguardia.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12 mb-3 mt-3">
                                            <img th:src="@{/img/exito.png}" width="100px">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h4>Vision</h4>
                                        </div>
                                        <div class="col-12 mb-3" style="text-align: justify">
                                            Ser un motor de cambio al proporcionar acceso a servicios ópticos de calidad para comunidades vulnerables.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12 mb-3 mt-3">
                                            <img th:src="@{/img/objetivo.png}" width="100px">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h4>Metas</h4>
                                        </div>
                                        <div class="col-12 mb-3" style="text-align: justify">
                                            Brindar una experiencia personalizada a cada cliente, logrando un índice de satisfacción del 95% o más.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </body>
    <footer th:replace="/contenedor/tablero :: footer"></footer>
</html>
