<html>
    <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="/contenedor/tablero ::cabecera"></nav>            
            <div class="container-fluid mt-4 mb-4">
                <div class="d-flex justify-content-center">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h4 class="fw-semibold fst-italic"> Formulario editar Usuarios</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/updateCitas/{idCita}(idCita=${objCitas.idCita})}" th:object="${objCitas}" method="post">                                    
                                    <div class="mb-3">
                                        <label for="idPaciente" class="form-label">
                                            <span class="rojito">*</span> Paciente
                                        </label>
                                        <select id="idPaciente" class="form-select" th:field="*{idPaciente}">                                            
                                            <option th:each="objUsuario:${arrCita}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Oftalmologo
                                        </label>
                                        <select id="idOftalmologo" class="form-select" th:field="*{idOftalmologo}">                                            
                                            <option th:each="objUsuario:${arrCitaOf}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Fecha
                                        </label>
                                        <input type="date" class="form-control" th:field="*{fecha}" th:value="${#dates.format(fecha, 'dd-MM-yyyy')}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Hora
                                        </label>
                                        <input type="time" class="form-control" step="1800" min="08:00" max="17:00"  th:field="*{hora}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="estado">
                                            <span class="rojito">*</span>Estado Cita
                                        </label>                                        
                                    </div>
                                    <span class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary col-3 fw.semibold mx-3">Actualizar</button>
                                        <a th:href="@{/adminCitas}" class="btn btn-danger col-3 fw-semibold mx-3"> Cancelar</a>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
</html>
