<html>
   <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="/contenedor/tablero ::cabecera"></nav>
            <section>
                <div class="container-fluid mt-4">
                    <div class="d-flex justify-content-center">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h4 class="fw-semibold fst-italic"> Formulario editar Talla</h4>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/updateBrandTalla/{codTalla}(codTalla =${objTalla.codTalla})}" th:object="${objTalla}" method="post">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                <span class="rojito">*</span> Nombre Talla
                                            </label>
                                            <input type="text" name="nombreTalla" class="form-control" th:field="*{nombreTalla}">
                                                
                                        </div>
                                        <span class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary col-3 fw.semibold mx-3">Actualizar</button>
                                            <a th:href="@{/adminBrandTalla}" class="btn btn-danger col-3 fw-semibold mx-3"> Cancelar</a>
                                        </span>
                                        
                                    </form>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </section>
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
</html>
