<html>
    <head th:replace="contenedor/tableroDash :: head"></head>
    <body>
        <main>
            <nav th:replace="contenedor/tableroDash :: cabecera" ></nav>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel"
                 style="background: #E8DAEF">
                <div th:replace="contenedor/tablerodash :: menuLateral"></div>
            </div>
            <div class="container-fluid mt-4 mb-4">
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col-6 " style="display: flex; align-content: center; align-items: center">
                        <img th:src="@{/img/registro.png}" style="width: 630px; height: 500px" >
                    </div>
                 </div>
                    <div class="col-5">
                        <div class="card">
                            <div class="card-header " style="background: #6a98bc; color:white; display: flex;justify-content: center;align-content: center;text-shadow: 4px 4px 5px #90abcb ">
                                <h4 class="fw-semibold fst-italic" > Formulario editar Usuarios</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/updateCitas/{idCita}(idCita=${objCitas.idCita})}" th:object="${objCitas}" method="post">                                    
                                    <input type="text" th:field="*{estado}" hidden>
                                    <div class="mb-3">
                                        <label for="idPaciente" class="form-label">
                                            <span class="rojito"></span> Paciente
                                        </label>
                                        <select id="idPaciente" class="form-select" th:field="*{idPaciente}">                                            
                                            <option th:each="objUsuario:${arrCita}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito"></span> Oftalmologo
                                        </label>
                                        <select id="idOftalmologo" class="form-select" th:field="*{idOftalmologo}">                                            
                                            <option th:each="objUsuario:${arrCitaOf}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito"></span> Fecha
                                        </label>
                                        <input type="date" class="form-control" th:field="*{fecha}" th:value="${#dates.format(fecha, 'dd-MM-yyyy')}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito"></span> Hora
                                        </label>
                                        <input type="time" class="form-control" step="1800" min="08:00" max="17:00"  th:field="*{hora}">
                                    </div>                                    
                                    <span class="d-flex justify-content-center">
                                        <button type="submit" class="btn col-3 fw.semibold mx-3" style="background: #aecfb7">Actualizar</button>
                                        <a th:href="@{/adminCitas}" class="btn btn-danger col-3 fw-semibold mx-3"> Cancelar</a>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>  
 
                    </div>
                </div>
            </div>            
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
</html>
