<html>
    <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="contenedor/tablero :: cabecera"></nav>
            <section>
                <div class="container-fluid mt-4">
                    <h4 class="fw-semibold fst-italic text-center">Administrar Notificaciones</h4>
                    <div class="d-flex justify-content-center ">
                        <div class="col-md-10">
                            <div th:if="${mensaje != null}">
                                <div class="alert alert-dismissible fade show" th:classappend="${tipo}" role="alert">
                                    <span class="fw-semibold" th:text="${mensaje}"></span>
                                    <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
                                </div> 

                            </div>
                            <div class="text-end">
                                <a th:href="@{/addNotificacion}" class="btn btn-info text-white">
                                    Nueva Notificacion
                                </a>
                            </div>

                            <div class="mt-2">
                                <table class="table table-sm table-striped table-hover">
                                    <thead>
                                        <tr class="table table-dark bg-dark">                                            
                                            <th>Paciente</th>
                                            <th>Mensaje</th>
                                            <th>Fecha Envio</th>
                                            <th>Estado</th>                                            
                                            <th style="">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="objNotificacion:${arrNotificaciones}" >
                                            <td th:text="${objNotificacion.idUsuario.nombreUsuario + ' ' + objNotificacion.idUsuario.ApellidoUsuario}"></td>
                                            <td th:text="${objNotificacion.mensajeNotificacion}"></td>
                                            <td th:text="${#dates.format(objNotificacion.fechaEnvioNotificacion, 'yyyy/MMM/dd').toUpperCase()}"></td>                                            
                                            <td ><span class="alert" th:text="${objNotificacion.estadoNotificacion == 0 ? 'Inactivo' : 'Activo'}" th:classappend="${objNotificacion.estadoNotificacion == 0 ? 'alert-danger' : 'text-success'}"></span></td>                                            
                                            <td>                                                                                                 
                                                <a th:if="${(objNotificacion.estadoNotificacion!=0)}" th:href="@{/deleteNotificacion/}+${objNotificacion.idNotificacion}" class="btn btn-danger btn-sm"
                                                   onclick="return confirm('¿estas seguro de eliminar a este Usuario')">
                                                    <i class="fa fa-trash fs-5 text-white"></i>
                                                </a>
                                                <a th:unless="${objNotificacion.estadoNotificacion !=0}"  class="btn btn-secondary btn-sm"
                                                   onclick="return alert('El usuario ya se encuentra inactivo')">
                                                    <i class="fa fa-trash fs-5 text-white"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div> 
                    </div>
                </div>
            </section>
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>

</html>
