<!DOCTYPE html>

<html>
    <head th:replace="/contenedor/tablero :: head">
    </head>
    <body>
        <nav th:replace="/contenedor/tablero :: cabecera"></nav>
        <div class="container-fluid">
            <div class="row" style="border-bottom: 1px solid #e8daef; box-shadow: 10px 10px 15px #e8daef; padding-bottom: 15px; background: #e7e7e7" >
                <div class="contImagen">
                    <img  class="imagen1" th:src="@{/img/contacInicio.png}">
                </div>
            </div>

            <div class="row mt-4" >
                <center><h1 class="mt-1">Ubicación</h1></center>
                <div>
                    <center><img  class="imagenUbi" th:src="@{/img/direccion.png}"></center>
                </div>
            </div>
            <div class="row">
                <h1 style="padding: 20px">Nuestros medios de Comunicación</h1>    
                <div class="col-6">
                    <img  class="w-100 mt-3 mb-5" th:src="@{/img/contaEspacio.png}">
                </div>
                <div class="col-6">
                    <img  class=" mt-3 mb-5" th:src="@{/img/redes.png}">
                </div>
            </div>
        </div>



    </body>


    <footer th:replace="/contenedor/tablero :: footer"></footer>
</html>
