<!DOCTYPE html>

<html>
    <head th:replace="/contenedor/tablero :: head">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilosContacto.css}"/>
    </head>
    <body>
        <main>
            <nav th:replace="/contenedor/tablero :: cabecera"></nav>
            <section>

                 <img th:src="@{/img/contacto.jpg}">

        <h1>Contenido centrado en la imagen de fondo</h1>
    </div>
                </div>
            </section>
        </main>
    </body>

    <footer th:replace="/contenedor/tablero :: footer"></footer>
</html>
