<!DOCTYPE html>

<html>
    <head th:replace="/contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="/contenedor/tablero :: cabecera"></nav>
            <section>

                <div class="p-5 m-4 text-white fondo-bienvenidaC rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">
                            CONTACTOS
                        </h1>
                        <h3>Daniel Felipe Leuro Camacho</h3>
                        <ul class="fs-5 fst-italic">
                            <li>Instragram: felipe_camacho8</li>
                            <li>whatsapp: 3212018869</li>
                        </ul>

                    </div>
                </div>
            </section>
        </main>
    </body>

    <footer th:replace="/contenedor/tablero :: footer"></footer>
</html>
