<html>
    <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="/contenedor/tablero ::cabecera"></nav>
            <div class="container-fluid mt-5 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h4 class="fw-semibold fst-italic"> Formulario Registro Cita</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/addCitas}" th:object="${objCita}" method="post">
                                    <div class="mb-3">
                                        <label for="idPaciente" class="form-label">
                                            <span class="rojito">*</span> Paciente
                                        </label>
                                        <select id="idPaciente" class="form-select" th:field="*{idPaciente}">
                                            <option value="null">Seleccione un Paciente</option>
                                            <option th:each="objUsuario:${arrCita}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>
                                        <span class="rojito" th:if="${objCita.idPaciente==null}"th:errors="*{idPaciente}">Seleccione un Paciente</span>     
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Oftalmologo
                                        </label>
                                        <select id="idOftalmologo" class="form-select" th:field="*{idOftalmologo}">
                                            <option value="null">Seleccione un Oftalmologo</option>
                                            <option th:each="objUsuario:${arrCitaOf}" th:text="${objUsuario.nombreUsuario}" th:value="${objUsuario.idUsuario}"></option>
                                        </select>
                                        <span class="rojito" th:if="${objCita.idOftalmologo==null}"th:errors="*{idOftalmologo}">Seleccione un Oftalmologo</span>     
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Fecha
                                        </label>
                                        <input type="date" class="form-control" th:field="*{fecha}">                                                                                                                                    
                                    </div>
                                    <div class="mb-3">
                                        <label for="idOftalmologo" class="form-label">
                                            <span class="rojito">*</span> Hora
                                        </label>
                                        <input type="time" class="form-control" step="1800" min="08:00" max="17:00"  th:field="*{hora}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="estado">
                                            <span class="rojito">*</span>Estado Cita
                                        </label>
                                        <select id="estado" class="form-select" th:field="*{estado}"> 
                                            <option th:value="1" th:text="'Activo'" 
                                                    accesskey="" th:selected="${estado == 1}">Activo</option>
                                            <option th:value="0" th:text="'Inactivo'" 
                                                    th:selected="${estado == 0}">Inactivo</option>
                                        </select>
                                    </div>
                                    <span class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary col-3 fw-semibold mx-3">Registrar</button>
                                        <a th:href="@{/adminCitas}" class="btn btn-danger col-3 fw-semibold mx-3"> Cancelar</a>
                                    </span>
                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </main>
    </body>
    

    <footer th:replace="contenedor/tablero :: footer"></footer>
</html>
