<html>
    <head th:replace="contenedor/tableroDash :: head"></head>
    <body>
        <main>
            <nav th:replace="contenedor/tableroDash :: cabecera"></nav>                                        
            <div style="position: fixed; left: 0; top: 75;" class="h-100">
                <div class="collapse collapse-horizontal" id="collapseWidthExample" style="max-width: 200px">
                    <div  th:replace="contenedor/tablerodash :: menuLateral"></div>
                </div>
            </div>       
            <div class="container-fluid mt-4">
                <div class="d-flex justify-content-center">
                    <div class="col-6">
                        <div class="card mb-4">
                            <div class="card-header" style="background: #6a98bc; color:white; display: flex;justify-content: center;align-content: center;text-shadow: 4px 4px 5px #90abcb ">
                                <h4 class="fw-semibold fst-italic"> Formulario Registro Usuario</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/addUsuarios}" th:object="${objUsuario}" method="post">
                                    <div class="mb-3">
                                        <label for="rolUsuario" class="form-label">
                                            <span class="rojito">*</span> Rol del Usuario
                                        </label>
                                        <select id="rolUsuario" class="form-select" th:field="*{rolUsuario}">
                                            <option value="null">Seleccione un Rol</option>
                                            <option th:each="objUsuario:${arrRoles}" th:text="${objUsuario.nombreRol}" th:value="${objUsuario.idRol}"></option>
                                        </select>
                                        <span class="rojito" th:if="${objUsuario.rolUsuario==null}"th:errors="*{rolUsuario}">Seleccione un Rol</span>     
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Nombres
                                        </label>
                                        <input type="text" name="nombreUsuario" class="form-control" th:field="*{nombreUsuario}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Apellidos
                                        </label>
                                        <input type="text" name="apellidoUsuario" class="form-control" th:field="*{apellidoUsuario}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Correo
                                        </label>
                                        <input type="email" name="correoUsuario" class="form-control" th:field="*{correoUsuario}" required>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Contraseña
                                        </label>
                                        <input type="password" name="contrasenaUsuario" class="form-control" th:field="*{contrasenaUsuario}" required>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Telefono
                                        </label>
                                        <input type="text" name="telefonoUsuario" class="form-control" th:field="*{telefonoUsuario}" maxlength="10" minlength="10"  required>
                                    </div>                                        
                                    <div class="mb-3">
                                        <label class="form-label">
                                            <span class="rojito"></span> Direccion
                                        </label>
                                        <input type="text" name="direccionUsuario" class="form-control" th:field="*{direccionUsuario}" required>
                                    </div>
                                    <span class="d-flex justify-content-center">
                                        <button type="submit" class="btn  col-3 fw-semibold mx-3" style="background: #aecfb7">Registrar</button>
                                        <a th:href="@{/adminUsuarios}" class="btn btn-danger col-3 fw-semibold mx-3"> Cancelar</a>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
</html>
