<html>
    <header th:replace = "contenedor/tablero :: head">
    </header>

    <body class="mb-5">
        <main>
            <nav th:replace="contenedor/tablero :: cabecera"></nav>
            <div class=" inicio" >
                <div class="imagenes" >
                    <img  class="imagen-fondo" th:src="@{/img/fondoInicio.png}">
                    <img th:src="@{/img/superiorInicio.png}" class="imagen-superior"> 
                </div>
                <div class="boton">
                    <button class="btn-with-image">
                        <img th:src="@{/img/logoVision.png}" alt="Icono" class="btn-icon">
                    </button>
                </div>
            </div>
            <div class="imagen-collapse">
                <img class="eye" th:src="@{/img/einfo.png}" >                 
            </div>
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <div class="col-md-12 imagenes" style="padding-top: 20px; padding-bottom: 10px;">
                        <h1>Productos</h1>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/gafas1.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Gafas de lujo</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/lentesContacto.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Lentes de Contacto</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/liquido.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Liquido de Gafas</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/ninos.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Gafas de Niños</p>                                                
                    </div>
                </div>
            </div>
        </main>        
    </body>

    <footer class="mt-5"  th:replace="contenedor/tablero :: footer"></footer>
</html>
