<html>
    <header th:replace = "contenedor/tablero :: head">
    </header>

    <body class="mb-5">
        <main>
            <nav th:replace="contenedor/tablero :: cabecera"></nav>
            <div class=" inicio" >
                <div class="imagenes" >
                    <img  class="imagen-fondo" th:src="@{/img/fondoInicio.png}">
                    <img th:src="@{/img/superiorInicio.png}" class="imagen-superior"> 
                </div>
                <div class="boton">
                    <button class="btn-with-image btnIndex" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="display: flex;align-content: center; justify-items: center; flex-direction: column; ">
                        <img th:src="@{/img/logoVision.png}" alt="Icono" class="btn-icon">Información
                    </button>   
                </div> 
            </div>
            <div class="container-fluid">
                <div class="row collapse hide"  id="collapseExample" style="transition: .5s">   
                    <div class="imagen-collapse">
                        <center><img class="eye" th:src="@{/img/eye.png}" height="500px" style="opacity: 0.6"></center>     
                        <img th:src="@{/img/eyinfoArriba.png}" width="550px" height="500px" style="position: absolute; top: 87%; left: 29%">
                    </div>               
                </div>
            </div>

            <div class="container-fluid" >
                <center><h1>Nuestros Clientes</h1></center>
                <div class="row" style="display: flex;justify-content: center;align-items: center" >
                    <div class="col-6">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{/img/imagen1.jpg}" class="d-block w-100" height="400" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img th:src="@{/img/imagen2.jpg}" class="d-block w-100" height="400" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img th:src="@{/img/imagen3.jpg}" class="d-block w-100" height="400" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img th:src="@{/img/imagen4.png}" class="d-block w-100" height="400" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-5">
                <div class="row">
                    <div class="col-md-12 imagenes" style="padding-top: 10px; padding-bottom: 10px;">
                        <h1>Productos</h1>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/estuche.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Estuche</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/lentesContacto.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Lentes de Contacto</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/liquido.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Liquido de Gafas</p>                                                
                    </div>
                    <div class="col-3"style="text-align: center">
                        <div class="product-card">
                            <img th:src="@{/img/ninos.png}" alt="Gafas" class="product-img">
                        </div>
                        <p class="product-name">Gafas de Niños</p>                                                
                    </div>
                </div>
            </div>
        </main>        
    </body>

    <footer class="mt-5"  th:replace="contenedor/tablero :: footer"></footer>
</html>
