<html>
    <head th:replace="contenedor/tablero :: head">
    </head>
    <body>
        <div class="mt-3 container-fluid">
            <div class="d-flex justify-content-center align-content-center w-100">
                <div th:if="${mensaje!=null}">
                    <div class="alert alert-dismissible fade show" th:classappend="${tipo}" role="alert">
                        <span class="fst-italic fw-semibold" th:text="${mensaje}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-5" style="width: 1100px; height: auto;">
                    <div class="col-5" style="padding-top: 10px">
                        <div class="card">
                            <div class="card-header text-center" style="background: #d6deea">
                                <i class="fa fa-user-circle" style="font-size: 60px; color:#3d5478"></i>
                                <h4 class="fst-italic fw-semibold">
                                    Inicio de sesion
                                </h4>
                            </div>
                            <div class="card-body mt-3">
                                <form th:action="@{/signin}" th:object="${objAcceso}" class="p-3" method="POST">
                                    <div class="mb-3">
                                        <label class="form-label fst-italic">
                                            <span class="rojito"></span>
                                            Correo electronico
                                        </label>
                                        <input type="email" name="correoUsuario" 
                                               class="form-control" th:field="*{correoUsuario}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fst-italic">
                                            <span class="rojito"></span>
                                            Contraseña
                                        </label>
                                        <input type="password" name="contrasenaUsuario" 
                                               class="form-control" th:field="*{contrasenaUsuario}" required>
                                    </div>                                
                                    <span class="d-flex justify-content-center mb-3">
                                        <button type="submit" class="btn col-md-5" style="background: #bb8fce">
                                            Acceder
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-7" style="border-radius: 100px;">
                        <img  class="rounded-5 img-fluid"th:src="@{/img/login1.png}" style="width: 1600px; border-radius: 10%;">
                        <img  class="img-fluid opacidad"th:src="@{/img/login2.png}" style="width: 620px">

                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer th:replace="contenedor/tablero :: footer">
    </footer>
</html>
