<html>
    <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="contenedor/tablero :: cabecera"></nav>
            <section>
                <div class="container-fluid mt-4">
                    <h4 class="fw-semibold fst-italic" style="display: flex; align-content: center; justify-content: center">Listado De Camisas</h4>
                    <div class="d-flex justify-content-center ">
                    <div class="col-md-10"> 
                        <div class="mt-2">
                            <table class="table table-sm table-striped table-hover">
                                <thead>
                                    <tr class="table table-dark bg-dark">
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Direccion</th>
                                        <th>Fecha</th>
                                        <th>Correo</th>
                                        <th>Contrasena</th>                                        
                                        <th>Telefono</th>
                                        <th>Estado</th>
                                        <th>Rol</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr th:each="objUsuario:${arrUsuarios}">
                                        <td th:text="${objUsuario.idUsuario}"></td>
                                        <td th:text="${objUsuario.nombreUsuario}"></td>
                                        <td th:text="${objUsuario.ApellidoUsuario}"></td>
                                        <td th:text="${objUsuario.direccionUsuario}"></td>
                                        <td th:text="${#dates.format(objUsuario.fechaCreacionUsuario, 'dd/MMM/yyyy').toUpperCase()}"></td>
                                        <td th:text="${objUsuario.correoUsuario}"></td>
                                        <td th:text="${objUsuario.contrasenaUsuario}"></td>
                                        <td th:text="${objUsuario.telefonoUsuario}"></td>
                                        <td th:text="${objUsuario.estadoUsuario}"></td>
                                        <td th:text="${objUsuario.rolUsuario.nombreRol}"></td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div> 
                    </div>
                </div>
            </section>
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
    
</html>
