<html>
    <head th:replace="contenedor/tablero :: head"></head>
    <body>
        <main>
            <nav th:replace="contenedor/tablero :: cabecera"></nav>
            <section>
                <div class="container-fluid mt-4">
                    <h4 class="fw-semibold fst-italic" style="display: flex; align-content: center; justify-content: center">Listado De Marcas</h4>
                    <div class="d-flex justify-content-center ">
                    <div class="col-md-10"> 
                        <div class="mt-2">
                            <table class="table table-sm table-striped table-hover">
                                <thead>
                                    <tr class="table table-dark bg-dark">
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr th:each="objMarca:${arrMarcas}">
                                        <td th:text="${objMarca.codMarca}"></td>
                                        <td th:text="${objMarca.nombreMarca}"></td>
                                        <td th:text="${objMarca.estadoMarca?'Activo':'Inactivo'}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div> 
                    </div>
                </div>
            </section>
        </main>
    </body>
    <footer th:replace="contenedor/tablero :: footer"></footer>
    
</html>
